<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
    <add key="LOGFILENAME" value="C:\Program Files\AutoHibernate\LogFile\Log.txt" />
    <add key="ERRORLOGFILENAME" value="C:\Program Files\AutoHibernate\ErrorLogFile\Log.txt" />
    <add key="PATHTOWATCH" value="C:\Program Files\AutoHibernate\" />
    <add key="DAYSOFWEEK" value="Sun,Mon,Tue,Wed,Thu,Fri,Sat" />
    <add key="FIRSTDAYOFWEEK" value="Mon" />
    <add key="HIBERNATEDAYS" value="Mon,Tue,Wed,Thu,Fri" />
    <add key="HIBERNATETIME" value="16:10:00" />
  </appSettings>
</configuration>
