<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="LOGFILENAME" value="C:\Program Files\AutoHibernate\LogFile\Log.txt" />
		<add key="ERRORLOGFILENAME" value="C:\Program Files\AutoHibernate\ErrorLogFile\Log.txt" />
		<add key="PATHTOWATCH" value="C:\Documents and Settings\c2334" />
		<add key="HOMEDIR" value="C:\Documents and Settings\c2334\" />
		<add key="HIBERNATETIME" value="08:30:00" />
		<add key="FIRSTWEEKDAY" value="Sun" />
		<add key="WEEKDAYS" value="Sun,Mon,Tue,Wed,Thr,Fri,Sat" />
		<add key="HIBERNATEDAYS" value="2,3,4,5,6" />
	</appSettings>
</configuration>
