<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<appSettings>
		<!--   User application and configured property settings go here.-->
		<!--   Example: <add key="settingName" value="settingValue"/> -->
		<add key="m_dgDeviceInfo.AllowSorting" value="False" />
		<add key="m_dgDeviceInfo.CaptionText" value="Devices" />
		<add key="m_dgDeviceInfo.CaptionVisible" value="True" />
		<add key="m_dgDeviceInfo.ColumnHeadersVisible" value="True" />
		<add key="m_dgDeviceInfo.ReadOnly" value="False" />
		<add key="m_detectedDevicesGrid.CaptionVisible" value="False" />
	</appSettings>
</configuration>